/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --red-400: hsl(7, 99%, 70%);
  --yellow-500: hsl(51, 100%, 49%);
  /* # graphic design text # */
  --green-800: hsl(167, 40%, 24%);
  /* # photography text # */
  --blue-800: hsl(198, 62%, 26%);
  /* # footer # */
  --green-500: hsl(167, 34%, 41%);

  /* # NEUTRAL # */
  --grey-950: hsl(212, 27%, 19%);
  --grey-600: hsl(213, 9%, 39%);
  --grey-550: hsl(232, 10%, 55%);
  --grey-400: hsl(210, 4%, 67%);
  --whtie: hsl(0, 100%, 100%);

  /* # TYPOGRAPHY # */

  /* # font-families: Barlow && Fraunces */

  --ff-barlow: "Barlow", sans-serif;
  --ff-fraunces: "Fraunces", serif;

  /* # font-weights: Barlow: 600 && Fraunces: 700, 900 */
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ### UTILITY CLASSES ### */

.hide {
  display: none;
}

.img-cell {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-cell {
  text-align: center;
  padding: 4rem 1.5rem;
}

.text-cell h2 {
  font-size: 2rem;
  font-weight: var(--fw-900);
  color: var(--grey-950);
}

.text-cell p {
  margin-top: 2rem;
  line-height: 1.6;
  font-size: 1.125rem;
  color: var(--grey-550);
}

.text-cell a {
  text-transform: uppercase;
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-900);
  font-size: 1.015rem;
  letter-spacing: 1px;
  width: min-content;
}

.text-cell .link-container {
  position: relative;
  width: fit-content;
  margin-inline: auto;
  margin-top: 2rem;
}

.text-cell .link-container::after {
  content: "";
  display: block;
  height: 10px;
  width: 120%;
  margin-inline: auto;
  border-radius: 200px;
  filter: opacity(30%);
  position: absolute;
  left: -10%;
  bottom: -3px;
  z-index: -1;
}

.bg-cell {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 600px;
  text-align: center;
  display: grid;
  gap: 1.6rem;
  align-content: end;
  padding: 4rem 1rem;
}

.bg-cell h2 {
  font-size: 1.8rem;
  font-weight: var(--fw-900);
}

.bg-cell p {
  line-height: 1.6;
  font-size: 1.025rem;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
}

h1,
h2,
h3 {
  font-family: var(--ff-fraunces);
}

/* ### SUNNYSIDE AGENCY LANDING PAGE ### */

/* ## HEADER ## */

header {
  background-image: url(./images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: var(--whtie);
  padding: 2rem 1.5rem;
  min-height: 540px;
  /* position: relative;
  z-index: 0; */
}

.header-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.logo-container {
  width: 140px;
}

.logo-container img {
  width: 100%;
}

header h1 {
  margin-top: 4.5rem;
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: var(--fw-900);
}

.hero-section::after {
  content: "";
  display: block;
  width: 46px;
  height: 124px;
  background-image: url(./images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 3.3rem;
  margin-inline: auto;
}

/* ### MAIN GRID SECTION ### */

.main-grid-section {
  display: grid;
  grid-auto-rows: minmax(314px, auto);
  grid-template-areas:
    "transform-img-cell"
    "transform-cell"
    "stand-out-img-cell"
    "stand-out-cell"
    "graphic-design-cell"
    "photography-cell";
}

.transform-img-cell {
  background-image: url(./images/mobile/image-transform.jpg);
  grid-area: transform-img-cell;
}

.transform-cell {
  grid-area: transform-cell;
}

.stand-out-img-cell {
  background-image: url(./images/mobile//image-stand-out.jpg);
  grid-area: stand-out-img-cell;
}

.stand-out-cell {
  grid-area: stand-out-cell;
}

.transform-cell .link-container::after {
  background-color: var(--yellow-500);
}

.stand-out-cell .link-container::after {
  background-color: var(--red-400);
}

.graphic-design-cell {
  background-image: url(./images/mobile/image-graphic-design.jpg);
  color: var(--green-800);
  grid-area: graphic-design-cell;
}

.photography-cell {
  background-image: url(./images/mobile/image-photography.jpg);
  color: var(--blue-800);
  grid-area: photography-cell;
}
