/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --red-400: hsl(7, 99%, 70%);
  --yellow-500: hsl(51, 100%, 49%);
  /* # graphic design text # */
  --green-800: hsl(167, 40%, 24%);
  /* # photography text # */
  --blue-800: hsl(198, 62%, 26%);
  /* # footer # */
  --green-500: hsl(167, 34%, 41%);

  /* # NEUTRAL # */
  --grey-950: hsl(212, 27%, 19%);
  --grey-600: hsl(213, 9%, 39%);
  --grey-550: hsl(232, 10%, 55%);
  --grey-400: hsl(210, 4%, 67%);
  --whtie: hsl(0, 100%, 100%);

  /* # TYPOGRAPHY # */

  /* # font-families: Barlow && Fraunces */

  --ff-barlow: "Barlow", sans-serif;
  --ff-fraunces: "Fraunces", serif;

  /* # font-weights: Barlow: 600 && Fraunces: 700, 900 */
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
