/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --red-400: hsl(7, 99%, 70%);
  --yellow-500: hsl(51, 100%, 49%);
  /* # graphic design text # */
  --green-800: hsl(167, 40%, 24%);
  /* # photography text # */
  --blue-800: hsl(198, 62%, 26%);
  /* # footer # */
  --green-500: hsl(167, 34%, 41%);

  /* # NEUTRAL # */
  --grey-950: hsl(212, 27%, 19%);
  --grey-600: hsl(213, 9%, 39%);
  --grey-550: hsl(232, 10%, 55%);
  --grey-400: hsl(210, 4%, 67%);
  --white: hsl(0, 100%, 100%);

  /* # TYPOGRAPHY # */

  /* # font-families: Barlow && Fraunces */

  --ff-barlow: "Barlow", sans-serif;
  --ff-fraunces: "Fraunces", serif;

  /* # font-weights: Barlow: 600 && Fraunces: 700, 900 */
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
}

/* ### UTILITY CLASSES ### */

.hide {
  display: none;
}

a.btn {
  display: inline-block;
  padding: 1em 1.8em;
  color: var(--grey-950);
  font-family: var(--ff-fraunces);
  text-transform: uppercase;
  border-radius: 200px;
}

.img-cell {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-cell {
  text-align: center;
  padding: 4em 1.5em;
  display: grid;
  gap: 2rem;
}

.text-cell h2 {
  font-size: 2rem;
  font-weight: var(--fw-900);
  color: var(--grey-950);
  max-width: 13ch;
  margin-inline: auto;
}

.text-cell p {
  line-height: 1.6;
  font-size: 1.125rem;
  color: var(--grey-550);
  max-width: 44ch;
  margin-inline: auto;
}

.text-cell a {
  text-transform: uppercase;
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-900);
  font-size: 1.015rem;
  letter-spacing: 1px;
  width: min-content;
}

.text-cell .link-container {
  position: relative;
  width: fit-content;
  margin-inline: auto;
}

.text-cell .link-container::after {
  content: "";
  display: block;
  height: 10px;
  width: 120%;
  margin-inline: auto;
  border-radius: 200px;
  filter: opacity(30%);
  position: absolute;
  left: -10%;
  bottom: -3px;
  z-index: -1;
}

.bg-cell {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 600px;
  text-align: center;
  display: grid;
  gap: 1.6rem;
  align-content: end;
  padding: 4rem 1rem;
}

.bg-cell h2 {
  font-size: 1.8rem;
  font-weight: var(--fw-900);
}

.bg-cell p {
  line-height: 1.6;
  font-size: 1.025rem;
  max-width: 40ch;
  margin-inline: auto;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
}

h1,
h2,
h3 {
  font-family: var(--ff-fraunces);
}

/* ### SUNNYSIDE AGENCY LANDING PAGE ### */

/* ## HEADER ## */

header {
  background-image: url(./images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: var(--white);
  padding: 2rem 1.5rem;
  min-height: 540px;
  /* position: relative;
  z-index: 0; */
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.desktop-menu {
  display: none;
}

.logo-container {
  width: 140px;
}

.logo-container img {
  width: 100%;
}

.nav-icon {
  cursor: pointer;
}

header h1 {
  margin-top: 4.5rem;
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: var(--fw-900);
}

.hero-section::after {
  content: "";
  display: block;
  width: 46px;
  height: 124px;
  background-image: url(./images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 2.6rem;
  margin-inline: auto;
}

/* ### DIALOG ### */

dialog {
  margin-top: 4.8rem;
  border: none;
  width: 88%;
  margin-inline: auto;
  padding: 2.5rem 1rem;
  font-size: 1.235rem;
  color: var(--grey-550);
  font-weight: var(--fw-700);
  align-self: flex-start;
}

dialog::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 25px solid white;
  border-left: 25px solid transparent;
  position: absolute;
  top: -25px;
  right: 0;
}

dialog nav ul {
  display: grid;
  gap: 2rem;
  justify-items: center;
}

dialog a.btn {
  background-color: var(--yellow-500);
}

/* ### MAIN GRID SECTION ### */

.main-grid-section {
  display: grid;
  grid-auto-rows: minmax(314px, auto);
  grid-template-areas:
    "transform-img-cell"
    "transform-cell"
    "stand-out-img-cell"
    "stand-out-cell"
    "graphic-design-cell"
    "photography-cell";
}

.transform-img-cell {
  background-image: url(./images/mobile/image-transform.jpg);
  grid-area: transform-img-cell;
}

.transform-cell {
  grid-area: transform-cell;
}

.stand-out-img-cell {
  background-image: url(./images/mobile//image-stand-out.jpg);
  grid-area: stand-out-img-cell;
}

.stand-out-cell {
  grid-area: stand-out-cell;
}

.transform-cell .link-container::after {
  background-color: var(--yellow-500);
}

.stand-out-cell .link-container::after {
  background-color: var(--red-400);
}

.graphic-design-cell {
  background-image: url(./images/mobile/image-graphic-design.jpg);
  color: var(--green-800);
  grid-area: graphic-design-cell;
}

.photography-cell {
  background-image: url(./images/mobile/image-photography.jpg);
  color: var(--blue-800);
  grid-area: photography-cell;
}

/* ### TESTIMONIALS SECTION ### */

.testimonials-section {
  padding: 3.5rem 1.5rem 5rem;
}

.testimonials-section h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.075rem;
  font-weight: var(--fw-900);
  text-align: center;
  color: var(--grey-400);
}

.testimonials-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.testimonial {
  text-align: center;
  display: grid;
  gap: 2rem;
}

.testimonial .profile-pic {
  width: 80px;
  margin-inline: auto;
  border-radius: 200px;
  overflow: hidden;
}

.testimonial > p {
  color: var(--grey-600);
  font-size: 1.025rem;
  line-height: 1.6;
  max-width: 35ch;
  margin-inline: auto;
}

.testimonial-info {
  display: grid;
  gap: 0.6rem;
}

.testimonial-info h3 {
  font-size: 1.275rem;
  font-weight: var(--fw-900);
  color: var(--grey-950);
}

.testimonial-info p {
  color: var(--grey-400);
  font-size: 0.9rem;
}

/* ### COLLAGE SECTION ### */

.collage-section {
  display: flex;
  flex-wrap: wrap;
}

.collage-item {
  width: 40%;
  /* flex-shrink: 1; */
  flex-grow: 1;
}

/* ### FOOTER ### */

footer {
  background-color: #90d4c5;
  padding: 3.5rem 1.5rem 5.5rem;
}

footer .logo-container {
  width: 180px;
  margin-inline: auto;
}

footer nav ul {
  display: flex;
  justify-content: space-between;
}

.ft-main-nav {
  width: 90%;
  margin-inline: auto;
  margin-top: 2.5rem;
  font-size: 1.175rem;
  color: var(--green-500);
}

.socials-nav {
  margin-top: 5.5rem;
  width: 55%;
  margin-inline: auto;
}

/* ### MEDIA QUERIES ### */

@media (min-width: 27em) {
  header {
    background-image: url(./images/desktop/image-header.jpg);
  }
}

@media (min-width: 38em) {
  /* # HEADER # */
  header {
    min-height: 80vh;
  }

  .nav-icon {
    display: none;
  }

  .desktop-menu {
    display: block;
  }

  .desktop-menu ul {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .desktop-menu a.btn {
    background-color: var(--white);
    font-size: 0.8rem;
  }
  /* # MAIN GRID # */

  .main-grid-section {
    grid-template-areas:
      "transform-cell transform-img-cell"
      "stand-out-img-cell stand-out-cell"
      "graphic-design-cell photography-cell";
  }

  .text-cell {
    text-align: start;
    justify-content: center;
    padding: 8em 2.5em;
  }

  .text-cell h2 {
    margin-inline: unset;
  }

  .text-cell p {
    margin-inline: unset;
  }

  .text-cell .link-container {
    margin-inline: unset;
  }

  .transform-img-cell {
    background-image: url(./images/desktop/image-transform.jpg);
  }

  .stand-out-img-cell {
    background-image: url(./images/desktop/image-stand-out.jpg);
  }

  .graphic-design-cell {
    background-image: url(./images/desktop/image-graphic-design.jpg);
  }

  .photography-cell {
    background-image: url(./images/desktop/image-photography.jpg);
  }

  .testimonials-section {
    padding: 9rem 4rem;
  }

  .testimonials-container {
    flex-direction: row;
    justify-content: center;
  }

  .testimonial {
    gap: 3.5rem;
  }

  .collage-item {
    width: 25%;
  }
}

@media (min-width: 59em) {
  /* # HEADER # */
  header {
    min-height: 90vh;
    padding-inline: 2rem;
  }

  header h1 {
    font-size: 4rem;
    margin-top: 6rem;
  }

  .hero-section::after {
    margin-top: 6.8rem;
  }

  .desktop-menu {
    font-size: 1.025rem;
  }

  .desktop-menu ul {
    gap: 3rem;
  }

  .logo-container {
    width: 165px;
  }
}
